/* put your css code here */

.crop-img{
  max-height:150px;

  max-width:200px;
}

.large-img{
  max-width:100%;
}

.carousel-img{
    margin: auto;
    padding: 10px;
    max-height:300px;
    max-width:100%;

}